html {

    background: darkslategrey;
}

.container-fluid {

    background: darkslategrey;
}

input[type=text] {

    background: transparent;
    color: #fff;
}

input[type=text]:focus {

    background: transparent;
    color: #fff;
}